<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Website</title>
  <link rel='stylesheet' type="text/css"href="static/style.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='Regg.ico') }}">
</head>

<body>
 {{name}} 
{{post_id}}

I am a python programmer and data scientist who is currently working as a mechanical engineer in the rail industry. I possess a BS in electro-mechaincal engineering from Penn state University. 

Technology has transformed our world. I cannot wait on the sidelines and miss the action and opportunity to get my hands dirty with the digital revolution !  

I am looking for a real challenge and opportunity to work on some cool projects. 
Programming has come a long way from the C language learned to in my youth.
<script src = 'static/script.js'></script>
</body>

</html>